.about {
    &__wrapper {
        margin-bottom: 80px;
    }
    &__title {
        margin-bottom: 32px;
    }
    &__group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 24px;
        margin-bottom: 32px;
    }
    &__text {
        max-width: 580px;
        line-height: 22.4px;
    }
    &__images {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
    }
}