.nav {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 44px;
    }
    &__link {
        color: $basic-text-color;
        text-decoration: none;
        &:hover {
            border-bottom: 1px solid $basic-text-color;
        }
        &--accent {
            color: $accent-color;
            text-transform: uppercase;
            position: relative;
            &::before {
                content:  url("../img/dist/phone\ 1.svg");
                position: absolute;
                left: -20px;
            }
            &:hover {
                border-bottom: none;
                color: darken($color: $accent-color, $amount: 20%);
            }
        }
    }
}